<html>
<body>
<div style="font-family:Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333">
<section style="float:left">
  <div style="padding-right:15px;padding-left:5px;margin-right:auto;margin-left:auto">
    <div style="margin-left:8.33333333%;width:83.33333333%">
      <div style="width:700px;float:left;background:#f9fafc;padding:25px 25px;margin-top:30px;margin-bottom:30px">
        <div style="width:100%;float:left;border-bottom:1px solid #dbdcde;padding-bottom:20px"> <img src="https://ci5.googleusercontent.com/proxy/vSHgCXtHAG7BHstFlt7r8-tBQMF-8eGNXEQoiUBM5SeghKJ1eplzYCDSes7MF3qPprnRfj2lgYBAUumdnSuxzOj5ZEBMXAmk=s0-d-e1-ft#http://huptechnology.com/ingenstudio/~/img/logo2.png" alt="" style="width:215px" class="CToWUd"> </div>
        
          <div style="width:100%; float:left;">  <!--width:700px; padding 20 px-->
          <span>
           <h3 style="color:#4f5150;font-size:26px;margin-bottom:35px">
            Ingen Studio,<span style="color: #929292; font-size: 26px; margin-bottom: 35px; font-weight: normal">eCommerce Photo Editing Service
           </span> 
           </h3> 
          </span>
              
            <p style="color:#929292;padding:0px;font-size:15px;float:left">  <!--padding:20px 2px;font-size:15px;margin:0 0 10px-->
             <span>Hi
             <span> {0} </span> 
             <br>
             <br>
             {1}                          
             <br>			
             </span>
            </p>
            
        <!--    <span style="color:#929292;float:left">
            One of our account manager will get back to you shortly to discuss about you requirements.</span>
            <br>
            <br>
            <span style="color:#929292; float:left">Meanwhile.if you have any qustions please fell free to contact us at <a href="mailto:sales@ingenstudio.com" target="_blank">sales@ingenstudio.com</a></span>-->
            <p></p>
        </div><span>
            <footer style="width: 100%; float: left; margin-top: 50px; padding-top: 10px; border-top: 1px solid #dbdcde">
                <div>
                    <div style="width: 50%; float: left">
                        <div style="text-align: left; width: 85%; float: left; text-align: left; padding: 10px 0px; font-size: 12px">
                            <p style="color: #9f9f9f">Copyright 2015 Ingen Studio Ltd. All rights reserved</p>
                            <ul style="list-style-type: none; padding-left: 0; margin-bottom: 0">
                                <li style="display: inline-block; border-right: 1px solid #b9b9b9; padding-right: 5px; padding-left: 0px; margin-left: 0px!important"><a href="#m_7960200106853177954_m_5915841538685275404_" style="color: #9f9f9f; text-decoration: none"><span>FAQ</span></a></li>
                                <li style="display: inline-block; border-right: 1px solid #b9b9b9; padding-right: 5px; padding-left: 0px; margin-left: 0px!important"><a href="#m_7960200106853177954_m_5915841538685275404_" style="color: #9f9f9f; text-decoration: none"><span>Terms</span></a></li>
                                <li style="display: inline-block; padding-right: 5px; padding-left: 0px; margin-left: 0px!important"><a href="#m_7960200106853177954_m_5915841538685275404_" style="color: #9f9f9f; text-decoration: none"><span>Privacy</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 50%; float: left; text-align: right">
                        <ul style="margin-top: 15px; list-style-type: none; padding-left: 0; margin-bottom: 0">
                            <li style="display: inline-block; width: 40px; min-height: 40px; text-align: center; padding: 5px; margin-left: 10px"><a href="https://twitter.com/IngenStudio" style="color: #c1c6c9; font-size: 20px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/IngenStudio&amp;source=gmail&amp;ust=1472300105389000&amp;usg=AFQjCNHWkhYYxHtXwynM7d39Azgg6egUlw">
                                <img src="https://ci6.googleusercontent.com/proxy/FNJI1FFew5-0b8ZeGBrCfH8DWzaSlX-3x33qNkm2yZDNd1pZvKEhKTl4-FZkA62lGd_lYi5D_EID5BLFDRFj0fCBEmb22tIun1E=s0-d-e1-ft#http://huptechnology.com/ingenstudio/~/img/twitter.png" width="40px" class="CToWUd"></a></li>

                            <li style="display: inline-block; width: 40px; min-height: 40px; text-align: center; padding: 5px; margin-left: 10px"><a href="https://www.facebook.com/ingenstudio/" style="color: #c1c6c9; font-size: 20px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/ingenstudio/&amp;source=gmail&amp;ust=1472300105389000&amp;usg=AFQjCNGFfG1Lro5r53dhIOFmwO37zF_5HQ">
                                <img src="https://ci5.googleusercontent.com/proxy/KQqtzIdFeeB0mKlYcgmAvmUVysytrsApjGhSgYrMTTZWTfXodJ9TFPO_aROkCj9ZP5xqJdNSAz9VixEmvaSdIMf1ff-j=s0-d-e1-ft#http://huptechnology.com/ingenstudio/~/img/fb.png" width="40px" class="CToWUd"></a></li>

                            <li style="display: inline-block; width: 40px; min-height: 40px; text-align: center; padding: 5px; margin-left: 10px"><a href="https://www.pinterest.com/ingenstudio/" style="color: #c1c6c9; font-size: 20px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.pinterest.com/ingenstudio/&amp;source=gmail&amp;ust=1472300105389000&amp;usg=AFQjCNE-d0vdMALOuIfjGITMv3AaDU5wNg">
                                <img src="https://ci6.googleusercontent.com/proxy/IeM9cCOU90NTlf0sqiqtsQ2upgX6WJ2kGYPLD8uc2_lXH4Ns-9hgHU5S8fOxq1ww0hMmBW19khiI25GiEGFynWOOe1s4cr6sWF4SKA=s0-d-e1-ft#http://huptechnology.com/ingenstudio/~/img/pinterest.png" width="40px" class="CToWUd"></a></li>

                            <li style="display: inline-block; width: 40px; min-height: 40px; text-align: center; padding: 5px; margin-left: 10px"><a href="https://plus.google.com/u/0/108735721071244053584" style="color: #c1c6c9; font-size: 20px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://plus.google.com/u/0/108735721071244053584&amp;source=gmail&amp;ust=1472300105389000&amp;usg=AFQjCNFw5LLr03r6bs1G5gt-F4fFYu4yXQ">
                                <img src="https://ci4.googleusercontent.com/proxy/0tzNLKOQhkb5vA0Ls9RcGOT8c_ZSJIKlnEsJVsqdRKVObuvFP1MrLxXJngYX5_JX-7i9JZv88RQq5b098096HQ14Vh8T0_2rX5QWlic=s0-d-e1-ft#http://huptechnology.com/ingenstudio/~/img/googleplus.png" width="40px" class="CToWUd"></a></li>
                            <span class="HOEnZb">
                                <font color="#888888"></font></span>
                        </ul>
                        <span class="HOEnZb"> <font color="#888888"> </font></span>
                    </div>
                    <span class="HOEnZb"><font color="#888888"> </font></span>
                </div>
                <span class="HOEnZb"><font color="#888888">
        </font></span>
            </footer><span class="HOEnZb"><font color="#888888">
      </font></span></span></div><span class="HOEnZb"><font color="#888888">
    </font></span></div><span class="HOEnZb"><font color="#888888">
  </font></span></div><span class="HOEnZb"><font color="#888888">
</font></span></section><div class="yj6qo ajU"><div id=":l3" class="ajR" role="button" tabindex="0" data-tooltip="Show trimmed content" aria-label="Show trimmed content"><img class="ajT" src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"></div></div><span class="HOEnZb adL"><font color="#888888">
</font></span></div>

    </body>
    </html>