@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway-Regular.ttf);
	
}
@font-face {
	font-family: Raleway-light;
	src:url(../fonts/Raleway-Light.ttf);
	
}
@font-face {
	font-family:Raleway-Bold;
	src:url(../fonts/Raleway-Bold.ttf);
	
}

body, html {
	padding:0;
	margin:0;
	/*font-family: Raleway-Regular;*/
    font-family:'Times New Roman';
}
img {
	max-width:100%;
}
a {
	color:#00F8FC;
}
a:hover, a:active {
	text-decoration:none !important;
	outline:none;
	color:#A5A5A5 !important;
}
a:hover {
	color:#8c8c8c;
	transition:400ms ease all;
	-webkit-transition:400ms ease all;
	-ms-transition:400ms ease all;
}
ul {
	list-style-type:none;
	padding-left:0;
	margin-bottom:0;
}
button {
	outline:none !important;
}
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
section {
	width:100%;
	float:left;
}
input {
	outline:none !important;
}

/*.main-head img {
    width: 150px;
}*/
header {
    background: url(../Images/Banner.png) no-repeat;
    background-size: cover;
    padding: 30px 0px;
	height:350px;
}
.navigation-bar nav.navbar.navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0;
    margin-top: 50px;
}
.header-text {
    text-align: center;
}
.header-text h3 {
    font-size: 35px;
    color: #fff;
    margin-top: 40px;
}
div#myNavbar {
    text-align: center;
}

div#myNavbar ul.nav.navbar-nav {
    float: none;
    display: inline-block;
}
div#myNavbar ul.nav.navbar-nav li{
	border-right:1px solid #fff;
}
div#myNavbar ul.nav.navbar-nav li:last-child{
	border:none;
}
div#myNavbar ul.nav.navbar-nav li a {
    padding: 0 6px;
    color: #fff;
    text-transform: capitalize;
    line-height: 1;
    font-size: 18px;
}
span.option-text {
    color: #b6b6b6;
    font-style: italic;
}
span.main-option {
    color: #000;
    font-weight: bold;
    margin-right: 5px;
	margin-left:5px;
}
.form-group {
    width: 100%;
    float: left;
}
input.enter-url {
    float: left;
    height: 40px;
    width: 80%;
    border: 1px solid #f2f2f2;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section#form-section {
    margin: 40px 0px;
}
span.radio-button {
    padding: 1px 4px;
    background: #4a8dce;
    border-radius: 50%;
}
input.choose-service {
    margin-top: 0;
    line-height: 0 !important;
    position: relative;
    top: 0.5px;
    height: 10px;
    width: 10px;
    left: 1px;
}
.choose-file {
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.choose-file .input-group label {
    float: right;
    width: 135px;
}
.choose-file .input-group {
    width: 85%;
    float: left;
	margin-bottom:10px;
}
.choose-file .input-group input {
    float: left;
    width: 78%;
    background: #fff;
    height: 40px;
    border-radius: 3px !important;
}
.choose-file .input-group label span.btn.btn-primary {
    width: 100%;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
	    border-radius: 3px !important;
}
span.send-quote {
    color: #000;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}
span.add-quantity input#income {
        width: 70px;
    text-align: center;
    background: #4d8dcb;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 26px;
}
label.service-title {
    color: #000;
    font-weight: bold;
}
.button-group {
    width: 100%;
    float: left;
}
.button-group ul li {
    display: inline-block;
	width:24%;
}
.service-1 {
    width: 100%;
    float: left;
    border: 3px solid #c8c8cb;
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
	position:relative;
	min-height:101px;
	max-height:101px;
}
.service-1 h5 {
    font-weight: bold;
	font-size:12px;
	font-family:Raleway-Bold;
	margin-bottom:0;
}
.service-1 h6 {
    color: #d1d1d2;
    font-style: italic;
    margin-bottom: 0;
	margin-top: 5px;
}


.service-3 {
    width: 100%;
    float: left;
    border: 3px solid #c8c8cb;
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
	position:relative;
	max-height:101px;
	min-height:101px;
}
.service-3 h5 {
    font-weight: bold;
	font-size:12px;
	color:#000;
	font-family:Raleway-Bold;
	margin-bottom:0;
}
.service-3 h6 {
    color: #d1d1d2;
    font-style: italic;
    margin-bottom: 0;
	    margin-top: 5px;
}


.arrow {
    position: absolute;
    top: 0;
    right: 5px;
	display:none;
}
.service-new {
    background: #5196d1;
    color: #fff;
    border: 2px solid #5196d1;
}
.service-new .arrow{
	display:block;
}
.service-new h6, .service-new h5 {
    color: #fff;
}
.checkbox-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
}
.checkbox-div input[type="checkbox"] {
    width: 100%;
    height: 100%;
}
 
 
 .radiobox-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
}
.radiobox-div input[type="radio"] {
    width: 100%;
    height: 100%;
}


ul.select_format {
    margin-top: 10px;
	margin-bottom:25px;
}
ul.select_format li {
    margin-bottom: 5px;
}
textarea.intruction_area {
    width: 96%;
    float: left;
    height: 130px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    margin-left: 15px;
	margin-bottom:25px;
	border-radius:3px;
}
.contact-details {
    width: 85%;
    float: left;
    padding-left: 15px;
}
.contact-details input[type="text"] ,.contact-details input[type="email"] {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}
.captcha {
    width: 100%;
    float: left;
    margin-top: 15px;
    padding-left: 15px;
}
.submit-form {
    width: 100%;
    float: left;
    padding-left: 15px;
}
.submit-form {
    width: 100%;
    float: left;
    padding-left: 15px;
    margin-top: 20px;
}
.submit-form p {
    color: #737373;
}
.submit-form p span {
    color: #2bbdee;
}
.submit-form button {
    text-transform: uppercase;
    padding: 12px 35px;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-top: 15px;
	font-weight:bold;
}
button.submit {
    background: #73bf43;
}
button.not-now {
    background: #d9d9d9;
    color: #6c6c6c;
}
.footer-div {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0px;
}
.footer-div p {
    color: #9f9f9f;
}
.footer-div ul li {
    display: inline-block;
	border-right:1px solid #b9b9b9;
}
.footer-div ul li:last-child{
	border:none;
}
.footer-div ul li a {
    color: #b9b9b9;
    padding: 0px 10px;
}

/**/

ul.select_format span.radio-button {
    background: transparent;
}
div#check-for-send label.spinner-label {
    margin-left: -12px;
}
div#check-for-send input#sendmequate {
    left: 0;
}
span.add-quantity input#income {
    border-right: 1px solid #fff;
        border-radius: 2px 0px 0px 2px;
}

div#check-confi input.choose-service {
    float: left;
    display: inline-block;
}

div#check-confi span.radio-button label {
    float: left;
    display: inline-block;
    width: 100%;
}

div#check-confi span.radio-button {
    background: transparent;
    display: block;
    overflow: hidden;
    border-radius: 0;
}




div#check-confi span.radio-button input[type="radio"] + label:before {
  border: 1px solid #4580c2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background:#4580c2;
   top: 2px;
    position: relative;
	    border-radius:50%;
		margin:0;
}

div#check-confi span.radio-button input[type="radio"]:checked + label:before {
    background: #4580c2;
    color: #fff;   
    content: "•";
    text-align: center;
    top: 2px;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    line-height: 70%;
    margin: 0;
}
div#check-confi span.radio-button input[type="radio"]:checked + label:after {
  font-weight: bold;
}

div#check-confi span.radio-button input[type="radio"] {
    position: relative;
    left: 0px;
    z-index: 9;
    opacity: 0;
    float: left;
    width: 18px;
    height: 18px;
	top:18px;
}




ul.select_format span.radio-button input[type="radio"] + label:before {
  border: 1px solid #4580c2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background:#4580c2;
   top: 2px;
    position: relative;
	    border-radius:50%;
		margin:0;
}

ul.select_format span.radio-button input[type="radio"]:checked + label:before {
  background: #4580c2;
    color: #fff;
    content: "•";
    text-align: center;
    top: 2px;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    line-height: 70%;
    margin: 0;
}
ul.select_format span.radio-button input[type="radio"]:checked + label:after {
  font-weight: bold;
}

ul.select_format span.radio-button input[type="radio"] {
    position: relative;
    left: 20px;
    z-index: 9;
    opacity: 0;
    float: left;
    width: 18px;
    height: 18px;
    top: -2px;
}

ul.select_format span.radio-button {
    background: transparent;
    position: relative;
    left: -10px;
}
/**/

input[type="checkbox"] + label:before {
  border: 1px solid #4580c2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background:#4580c2;
   top: 2px;
    position: relative;
	    border-radius: 2px;
}
input[type="checkbox"]:checked + label:before {
  background: #4580c2;
  color: #fff;
  content: "\2713";
  text-align: center;
      top: 2px;
    position: relative;
	    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

input[type="checkbox"] {
    position: relative;
    left: 15px;
    z-index: 9;
    opacity: 0;
    float: left;
}
label {
  cursor: pointer;
}
.navigation-bar {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.navigation-bar h4 {
    font-size: 25px;
	font-family: Raleway-light;
}
.package-blue {
    background: #3a9bbb;
    color: #fff;
    padding: 20px 40px;
    width: 100%;
    float: left;
}
.package-blue p {
    padding-left: 10px;
    font-family: Raleway-light;
    margin-bottom: 40px;
    line-height: 25px;
}
.package-main {
    width: 100%;
    float: left;
    padding: 50px 80px;
}
.package-blue h4 {
    font-family: Raleway-Bold;
}
.package-blue ul li {
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 23px;
}
.quote-button {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.quote-button button {
        border: 1px solid #fff;
    background: transparent;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    width: 140px;
	height:40px;
}
.quote-form {
    background: #f6f7f9;
    color: #fff;
    padding: 40px 60px;
    width: 100%;
    float: left;
}
.quote-form input {
        border: 1px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    color: #000;
}
.quote-form textarea{
    border: 1px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
	height: 90px;
	color:#000;
}
.quote-form label {
    color: #a9a9a9;
    font-family: Raleway-light;
    margin-bottom: 10px;
}
button.register-quote {
    background: #3a9bbb;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 140px;
	height:40px;
}
.quote-form select{
    border: 1px solid #f0f0f0;
    width: 100%;
    padding: 0 10px;
    border-radius: 3px;
}
.register-section {
    width: 100%;
    float: left;
    text-align: center;
}
.captcha-section {
    width: 100%;
    float: left;
    text-align: center;
}
.main-content-div {
    width: 100%;
    float: left;
    padding: 20px 40px;
}
.email-main {
    width: 100%;
    float: left;
    background: #f9fafc;
       padding: 25px 45px;
	   margin-top:30px;
	       margin-bottom: 30px;
}
.mail-header img {
    width: 215px;
}
.mail-header {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dbdcde;
    padding-bottom: 20px;
}
.main-content {
    width: 100%;
    float: left;
    padding: 20px;
}
.main-content h3 {
    color: #4f5150;
    font-family: Raleway-bold;
    font-size: 30px;
	    margin-bottom: 35px;
}
.main-content p {
    color: #929292;
    padding: 20px 20px;
    font-size: 15px;
}
footer.main-footer {
    width: 100%;
    float: left;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid #dbdcde;
}
footer.main-footer .footer-div {
    text-align: left;
}
footer.main-footer .footer-div li a{
	color:#9f9f9f;
}
.col-sm-6.mail-social {
    text-align: right;
}
.mail-social ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #c1c6c9;
    text-align: center;
    border-radius: 50%;
	padding:5px;
	margin-left:10px;
}
.mail-social ul li a {
    color: #c1c6c9;
    font-size: 20px;
}
.mail-social ul {
    margin-top: 15px;
}
.select-country {
    width: 100%;
    float: left;
    padding-left: 15px;
}
.select-country span.input-group-addon {
    width: 70px;
    float: left;
    padding: 0;
    border-radius: 0;
}
.select-country span.input-group-addon select {
    border-radius: 0;
    border: none;
}
.select-country button.dropdown-toggle {
    background:#fff;
    color: #000;
    border: 1px solid#f0f0f0;
	    padding: 8px;
}
.select-country .dropdown {
    display: inline-block;
}
.select-country .dropdown {
    display: inline-block;
    float: left;
}
.select-country input {
    width: 73%;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}
.select-country ul.dropdown-menu {
    min-width: auto;
}
.select-country ul.dropdown-menu li a {
    padding: 0 14px;
}
.inquiry-country {
    padding-left: 0;
}
.inquiry-country input[type="text"] {
    width: 86%;
}
.quote-form .captcha-section img {
    width: 70%;
}

.spinner {
    width: 60px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
        display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 0px 5px;
    margin-left: 0px;
    position: relative;
    border-radius: 0;
    line-height: 0;
    background: #4787c7;
    color: #fff;
    border: none;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 2px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 2px;
}

.spinner input.form-control {
    padding: 0;
    text-align: center;
    height: 26px;
    background: #4787c7;
    color: #fff;
	border:none;
	    border-right: 1px solid #fff;
}
label.spinner-label {
    float: left;
    display: inline-block;
}
span.add-quantity {
    display: inline-block;
    float: left;
    margin: 0px 5px;
    background: #4d8dcb;
    border-radius: 5px;
    position: relative;
    top: -3px;
}
.input-group-btn-vertical > .btn i.fa {
    line-height: 14px;
}
.increase-count {
    display: inline-block;
    float: left;
}
.service-2 {
    width: 100%;
    float: left;
    border: 2px solid #c8c8cb;
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
    position: relative;
}
.service-2 h5 {
    font-weight: bold;
	font-size:12px;
}
.service-2 h6 {
    color: #d1d1d2;
    font-style: italic;
    margin-bottom: 0;
}
.select-country {
    padding-left: 0;
}
.select-country input[type="text"] {
    display: inline-block;
    width: 86%;
}
div#emailid_error {
    text-align: center;
    color: red;
}

.form-group.service-new {
    background: transparent;
    border: transparent;
}
span.radio-button.style_new {
    background: transparent !important;
    border: none !important;
}

.choose-file .input-group label{
	width:22%;
}
.choose-file .input-group input{
	width:76%;
}
img.image-invisible {
    display: none;
}
.service-new img.image-starting{
	display:none;
}
.service-new img.image-invisible {
    display: block;
	margin:0 auto;
}




@media screen and (max-width:1199px){
.choose-file .input-group label{
	width:22%;
}
.choose-file .input-group{
	width:100%;
}
.choose-file .input-group input{
	width:76%;
}	
.main-content-div{
	padding:0;
}
.package-main{
	padding:40px;
}
}

@media screen and (max-width:992px){
.button-group ul li{
	width:24%;
}
.choose-file .input-group label{
	width:22%;
}
.choose-file .input-group{
	width:100%;
}
.choose-file .input-group input{
	width:76%;
}
form#formsubmit .col-sm-7 {
    width: 100%;
	float: left;
}
form#formsubmit .col-sm-4.col-sm-offset-1 {
    width: 100%;
    margin-left: 0;
	float: left;
}
.package-main .col-sm-6 {
    width: 100%;
}
.quote-form{
	margin-top:20px;
}
}

@media screen and (max-width:768px){
.button-group ul li{
	width:49%;
}
header{
	height:auto;
}
div#myNavbar ul.nav.navbar-nav {
    width: 100%;
    float: left;
    text-align: center;
	margin:0;
}

div#myNavbar ul.nav.navbar-nav li {
    margin: 10px 0px;
    border: none;
    border-bottom: 1px dotted #887171;
    padding-bottom: 10px;
}
header{
	background-attachment:fixed;
	padding: 30px 0px 0px 0px;
}
.navigation-bar nav.navbar.navbar-default{
	margin-top:0;
	text-align:center;
	
}
.header-text h3 {
    font-size: 20px;
}
.navbar-toggle {
    float: left;
    margin: 0;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    top: -120px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navigation-bar{
	margin-top:0;
}
.package-main {
    padding: 15px 0px;
}
.quote-form, .package-blue{
	padding:25px;
	overflow:hidden;
}
}

@media screen and (max-width:480px){
input.enter-url{
	width:100%;
}
.choose-file .input-group label, .choose-file .input-group input, .choose-file .input-group{
	width:100%;
}
.button-group ul li{
	width:100%;
}
.select-country .dropdown{
	width:20%;
}
.select-country input[type="text"]{
	width:80%;
}
.contact-details {
    width: 100%;
}
.captcha div {
    width: 100% !important;
}
.captcha{
	overflow:hidden;
}
form#formsubmit .col-sm-7 {
    width: 100%;
    float: left;
    padding: 0;
}
form#formsubmit .col-sm-4.col-sm-offset-1 {
    width: 100%;
    margin-left: 0;
    float: left;
    padding: 0;
}
.quote-form, .package-blue{
	padding:25px;
	overflow:hidden;
}
.submit-form p br {
    display: none;
}
}

@media screen and (max-width:380px){
.footer-div ul li a {
    padding: 0px 5px;
    font-size: 12px;
}	
}
@media screen and (max-width:330px){
button.submit {
    background: #73bf43;
    float: left;
    width: 49%;
    font-size: 10px;
}
button.not-now {
    background: #d9d9d9;
    color: #6c6c6c;
    float: right;
    width: 49%;
    font-size: 10px;
}
.submit-form p br {
    display: none;
}	
}

.success {
	background: #EAF7D9 url('../img/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color:green;
	     padding-left: 31px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	
}
.warning {
	background: #FFD1D1 url('../img/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	    
		color:red;
        padding-left: 31px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.choose-file .input-group label span.btn.btn-primary{
	position:relative;
}
.choose-file .input-group label input[type="file"] {
    margin-top: 0px !important;
    margin-left: 0px !important;
    position: absolute !important;
    z-index: 999 !important;
    display: block !important;
    opacity: 0 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}
