
.navbar-inverse {background-color:#f6f6f6 !important;border-color: #f6f6f6 !important;/*padding-bottom: 50px !important;*/}
.icon-bar {background-color: #1715f1 !important;}
.nav > li > a:hover {background-color: #FCC;color: #1715f1 !important;}
.nav > li > a { font-family:'Arial' !important; }
.navbar-brand a:hover {color: #1715f1 !important;}
.heading a:hover {color: #1715f1 !important;cursor:auto;}
.container{min-height: 100%;background-color: #f6f6f6 !important;}
.targetDiv { margin: 100px 25px 5px 25px !important;background-color: #ffffff !important; min-height: 100%;border-radius: 5px;}
.btnNext {
            background-color: #6dbe47;
            border: none;color: white; 
            padding: 6px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            font-family:'Arial' !important;
        }

      .btnNext:hover,
      .btnNext:active,
      .btnNext:focus,
      .btnNext:active:hover,
      .btnNext:active:focus {
       background:#47a91a  !important;
       color:blue;
            }

.p {font-family:'Arial' !important;}
.button-group {float: none !important;padding:10px 25px 25px 25px;width:85% !important;}
.alink {color:blue !important;}
.hed1{margin-bottom:0px !important;}
.hed2{margin-top:0px !important;}
.hedImg { width:100%}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Arial' !important;
    font-weight: 500;
    line-height: 1.1;
}
span {
       font-family: 'Arial' !important;
      }
 input, button, select, textarea {
    font-family: 'Arial' !important; 
}
element.style {padding-top: 0px !important;}

.footer-nav {
    font-family: 'Arial' !important;
    }
.checkbox label {
font-family: 'Arial' !important;
      }
.service-title {
    font-family: 'Arial' !important;
      }
#target {border: 1px solid #cccccc !important;margin-top:5px;}



/*Instruction page CSS below*/

.imagePreview {background-color:#e6e8e7 !important;min-height: 500px; margin-right: 1px;}
.hyperlink {text-decoration:underline !important;cursor:pointer}
.shadow {border:1px solid black;/*width:95% !important;*/-webkit-box-shadow: 0px 3px 15px 6px rgba(85,120,224,0.79);-moz-box-shadow: 0px 3px 15px 6px rgba(85,120,224,0.79);box-shadow: 0px 3px 15px 6px rgba(85,120,224,0.79); height:100%;width:100% }
.remove {border:none;/*width:100% !important;*/-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;height:100%;width:100%}
.rowContent {padding-top:10px;padding-bottom:15px;}
.Insheader {font-family:'Times New Roman';font-style:italic;padding-bottom:3px;}
.productImage{height: 80%;width: 80%;}
.lblImg {font-size: small;text-align: left;width:80%;}
.lbldiv {background-color:#18c12b;color:white;border:1px solid #18c12b;border-radius:2px;}
.imgview {width: 200px;min-height: 200px;background-color: #f6f6f6;margin-left: 5px;margin-top: 5px;text-align:center;}
.btn {padding: 4px 12px !important; }  /*for apply and cancel button*/ 
.pera{margin:0px 0px 0px 0px !important;padding:0px !important;font-family:'Times New Roman';font-size:9px !important;}

/*Instruction Page CSS Over*/


/*Add Ons page CSS*/
.select_format {
font-family: 'Arial' !important;
}

.delivery {
    display: inline-block;
    width: 20% !important;
}

/*Add Ons Page CSS Over*/


.left {color: blue; font-size: 14px; font-family:Arial !important;}
.green {color:green;font-family:Arial !important;}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     width:50%;
     font-family: Arial !important;
}
.padding {padding-bottom:30px;}
    .OrderClass {
    color:green;
    font-weight:bold;
    }
    .PaymentIns {
     margin-left:25%;
     margin-right:15%;
    }
    .text-right {
    font-family:Arial !important;
    }
    .text-center {
      font-family:Arial !important;    
    }
.paymentPera {
margin: 0 0 5px !important;
}


/*index.cshtml page style*/

 .pclass {
        margin-bottom:0px !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .radionew {
        border: 1px solid #cecece !important;
    }
    /*.button-group {       
        float: none !important;
        padding:10px 25px 25px 25px;
        width:85% !important;
    }*/

    .drop {
        /*width:100% !important;*/
        /*min-height:90% !important;*/
        margin-left:40px !important;
        background-color:#e6e8e7 !important;
    }
    .middle {
        margin-top:40px !important;
        margin-bottom:30px !important;
    }
    .bottom-column {
        margin-top:40% !important;
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }

    .rowBottom{
        margin-top:30% !important;
    }
    .hrheader {
      margin-top:0px !important;
      margin-left:20%;
      margin-right:20%;
    }

    /*end index page style*/