@{
    ViewBag.Title = "FtpDirectUpload";
}
<style>
    .dz-max-files-reached {
        background-color: red;
    }
</style>
<div id="target">
   
    <div class="row" style="height:20%;background-color:wheat">
      

    </div>

    <div class="row jumbotron" style="margin-top:10%">
        <form action="@Url.Action("SaveUploadedFile", "Ftps")" class="dropzone" id="dropzoneJsForm"></form>
       
    </div>
    <div class="row text-right">
        <input type="submit" id="submit" value="Send" />
    </div>
    <p id="list" style="margin-top:10px;">
      

    </p>
   
    @section scripts {
           

        <script type="text/javascript">

            var totalUpload = 0;
             
        Dropzone.options.dropzoneJsForm = {
            maxFilesize: 1024,// 1 GB
            maxFiles: 200,
            //paramName: "file",
            //maxFilesize: 2,
            parallelUploads: 5,
            uploadMultiple: true,
          
           // addRemoveLinks:true,
            acceptedFiles: ".jpeg,.jpg,.png,.gif,.rar,.zip",
            init: function () {
                this.on("complete", function (data) {
                    //var res = eval('(' + data.xhr.responseText + ')');
                    var res = JSON.parse(data.xhr.responseText);
                   
                });

               
                this.on("success", function (file, response) {
                    var imageSrc = response;
                    //console.log('get response from server');
                    //console.log(response.Message);
                
                   //$(".img-responsive").attr('src', imageSrc);

                    if (response.Message) {   //imageSrc == '/assets/images/offerfeatimg.jpg'
                        //console.log("true");
                        totalUpload++;

                        //var items = '<table class="table"><thead class="thead-inverse"><tr><th>#</th><th>Name</th><th>Description</th></tr></thead><tbody>';
                        //$.each(response.FileList, function (i, FtpsFile) {
                        //    items += "<tr><th scope='row'>"+i +"</th><td>" + FtpsFile.Name + "</td><td>" + FtpsFile.Description + "</td></tr>";
                        //});
                        //items += "</tbody></table>";
                        //$('#list').html(items);

                       

                        return file.previewElement.classList.add("dz-success"); // from source

                      
                      
                    } else {
                        console.log("false");
                        //folow this link display success or error
                        //http://stackoverflow.com/questions/20282392/invoking-an-error-from-server-response-json-in-dropzone-js
                        file.previewElement.classList.add("dz-error");
                        _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
                        _results = [];
                        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                            node = _ref[_i];
                            _results.push(node.textContent = "file upload error");
                        }
                        
                        //$(".removebutton").show();

                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button style='color:red'>Remove file</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        //End creating remove button


                        return _results;                   
                                            
                      }
                   // this.removeFile(file); // This line removes the preview
                   })
                }
        }

        $('#submit').click(function () {
            //check if any file upload or not
            if (totalUpload > 0) {
                var url = "/Home/Instruction";
                var name = 'come from client'; //pass parameter
                $.get(url, { input: name }, function (data) {
                    $("#target").html(data);
                });
            } else {

                alert('Please upload file...');
            }
        })

      </script>
        

        @*<form action="@Url.Action("SaveUploadedFile","Ftps")" class="dropzone" id="dropzoneJsForm"></form>
      hear from id is dropzoneJsForm so in js script we call dropzone using this id Dropzone.options.dropzoneJsForm
    *@
        @*<script>
            Dropzone.options.dropzoneJsForm = {

                // maxFilesize: 3, // MB
                maxFiles: 200,
                addRemoveLinks: true,
                init: function () {
                    this.on("addedfile", function (file) { fileupload_flag = 1; });
                    this.on("complete", function (file) { fileupload_flag = 0; });
                },
                accept: function (file, done) {
                    var re = /(?:\.([^.]+))?$/;
                    var ext = re.exec(file.name)[1];
                    ext = ext.toUpperCase();
                    if (ext == "JPG" || ext == "JPEG" || ext == "PNG" || ext == "GIF" || ext == "BMP" || ext == "zip" || ext == "rar") {
                        done();
                    } else {
                        done("Please select only supported picture files.");
                    }
                },
                success: function (file, response) {
                    //obj = JSON.parse(response);
                    //alert(obj.filename); // <---- here is your filename
                    //var imageSrc = response;
                    //$(".img-responsive").attr('src', imageSrc);
                    //if (imageSrc == '/assets/images/offerfeatimg.jpg') {
                    //    $(".removebutton").hide();
                    //} else {
                    //    $(".removebutton").show();
                    //}
                    //this is remove file if success 
                   // this.removeFile(file);
                }
            };
        </script>*@
    @*<script>
        $('#submit').click(function () {
            $.getJSON('/Home/CustomerList/' + $('#Country').val(), function (data) {
                var items = '<table><tr><th>Name</th><th>Address</th></tr>';
                $.each(data, function (i, country) {
                    items += "<tr><td>" + country.ContactName + "</td><td>" + country.Address + "</td></tr>";
                });
                items += "</table>";
                $('#rData').html(items);
            });
        })
            </script>*@

      

    }
  
</div>

