@{
    ViewBag.Title = "JsObject";
}

<div style="height: 400px">
    <aside class="middle">

        <h2>JsObject</h2>

        <input type="button" onclick="SendObj()" value="Send Js Object" />

    </aside>
</div>
 





<script>

    var things = [];

    //http://stackoverflow.com/questions/16491758/remove-objects-from-array-by-object-property
    function SendObj()
    {

       
        //500 row can be send
        //var things = [
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },


        //     { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },

        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },

        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },

        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },
        //    { id: 1, color: 'yellow' },
        //    { id: 3, color: 'red' },
        //    { id: 1, color: 'yellow' },
        //    { id: 2, color: 'blue' },               
                   
              
        //];
        var col = "Greengfasd jhasd gjagjhsagdsajk hjgashdksadk gkjkgasdk";

        for (var i = 0; i < 2; i++) {
            things.push({ id:i, color: col });           
        }

        things.push({ id: 12, color: col });
        things.push({ id: 15, color: col });
        things.push({ id: 7, color: col });

       

        for (var item in things)
        {
            console.log('item:'+things[item].id+' color:'+things[item].color);
        }

        console.log('delete  index');
        var index = 7;        
        var listToDelete = [index];        //['abc', 'efg'];

        things.reduceRight(function (acc, obj, idx) {
            if (listToDelete.indexOf(obj.id) > -1)
                things.splice(idx, 1);
        }, 0);
                     

        console.log('After delete things Js list length:' + things.length);

       // things.slice({ id: 7, color: col });
        //things[index].id = index;
        //things[index].color = col;

        //console.log('After push deleted things:Length'+things.length);

        for (var item in things) {
            console.log('item:' + things[item].id + ' color:' + things[item].color);
        }

        //things = [];
        //console.log('List object newly assigned.Length' + things.length);


        //things.pop({ id: 2, color: 'blue' });

        //  data.push({label: lab[i], value: val[i]});

            things = JSON.stringify({ 'things': things });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Test/SubmitMyData',
                data: things,
                success: function () {
                    things = [];
                    console.log('List object newly assigned.Length'+things.length);

                    $('#result').html('"PassThings()" successfully called.');


                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });       
      
    }
</script>